body {
    font-family: arial, sans-serif;
}

/* Style for advsearch.html */
.topMenu {
    text-align: right;
}
.advancedSearch {
    color: #d93025;
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 25px;
}

.mainContent {
    text-align: left;
    margin-top: 25px;
    margin-left: 35px;
}

.findPagesWith {
    font-size: 16px;
}

.advSearchFieldLabel {
    font-size: 14px;
}

.advInputField {
    margin-top: 20px;
    margin-left: 50px;
    width: 400px
}

.advButton {
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: white;
    margin-left: 445px;
    margin-top: 20px;
    padding: 12px;
    text-align: right;
}

/* Style for index.html */

.index001{
    text-align: center;
    margin-top: 200px;
}

.index002 {
    border-radius: 32px;
    font-size: large;
    height: 40px;
    width: 500px;
}

.index003 {
    font-size: large;
    height: 40px;
    margin: 20px;
}